<in-wrapper>
    <div ng-controller="expendablesCtrl">
        <div class="row" ng-if="can('list-expendable')">
            <div class="col-lg-12">
                <h1 class="page-header"><img src="assets/img/expendable.png" class="img-title">
                    CONSOMMABLES 
                </h1>
            </div>



            <div class="row">
                <div class="col-md-11 item-page">
                    <div>
                        <div class="panel-heading row">
                            <a class="pull-right item-new" role="button" ng-click="open(expendable.id, 'create')" ng-if="can('add-expendable')"> <i class="fa fa-plus fa-3x" aria-hidden="true"></i></a>
                            <div class="col-lg-5 col-md-4 col-sm-12">
                                <h2><img src="assets/img/barre.png" class="img-table">Liste des consommables</h2>
                            </div>
                            <div class="form-group col-lg-3 col-md-4">
                                <input ng-model="expendableSearch" type="text" class="form-control search-list" placeholder="Rechercher un consommable...">
                            </div>
                            <div class="col-lg-3 col-md-3">
                                <a ng-click="alertFilterOn = !alertFilterOn" class="btn btn-sm btn-critics">
                                    <span ng-show="!alertFilterOn">Montrer les consommables critiques</span>
                                    <span ng-show="alertFilterOn">Montrer tous les consommables</span>
                                </a>
                            </div>
                        </div>
                        <table ng-if="expendables.length && !loading" class="table table-hover table-striped col-md-12">
                            <thead>
                                <tr>
                                    <th>Nom du consommable<br><img src="assets/img/fleche.png" class="img-th"></th>
                                    <th>Stock disponible<br><img src="assets/img/fleche.png" class="img-th"></th>
                                    <th>Seuil d'alerte<br><img src="assets/img/fleche.png" class="img-th"></th>
                                    <th>Unité<br><img src="assets/img/fleche.png" class="img-th"></th>
                                    <th ng-if="can('edit-expendable')">Localisation<br><img src="assets/img/fleche.png" class="img-th"></th>
                                </tr>
                            </thead>

                            <tbody>
                                <tr ng-repeat="expendable in expendables | filter:expendableSearch | filter:(alertFilterOn ? alertFilter : '')">
                                    <td ng-click="open(expendable.id, 'view')" class="col-md-1">{{ expendable.name }}</td>
                                    <td ng-click="open(expendable.id, 'view')" class="col-md-1 td-list">{{ expendable.remainingQuantity }}</td>
                                    <td ng-click="open(expendable.id, 'view')" class="col-md-1 td-list">{{ expendable.minQuantity }}</td>
                                    <td ng-click="open(expendable.id, 'view')" class="col-md-1 td-list">{{ expendable.quantityUnit || '-' }}</td>
                                    <td class="col-md-1 text-center" ng-if="can('edit-expendable')">{{ expendable.room.name || '-' }}{{ expendable.wardrobe.name || '-' }}</td>
                                </tr>

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div ng-show="loading" class="text-center">
                <i class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
            </div>
            <div ng-if="expendables.length == 0 && !loading" class="text-center">
                 <br>
                 <h4>A venir ...</h4>
            </div>
        </div>
    </div>
    <!-- /.row -->
</in-wrapper>
