.black {color:black;}
.bottom10 {margin-bottom: 10px}
.left10 {margin-left: 10px}
.right10{margin-right: 10px}
.top5 { margin-top:5px; }
.top7 { margin-top:7px; }
.top10 { margin-top:10px; }
.top15 { margin-top:15px; }
.top30 { margin-top:30px; }
.left15 { margin-left:15px; }
.font16{font-size: 16px;}
.center{text-align: center}

.color-yellow {
    color:$yellow
  }

.pointer {
	cursor: pointer;
}