@import 'fonts';

$yellow : rgb(255,194,0);

$background: #FFFDF3;
//navbars
$menu:#ffd992;
$light-grey: rgb(89,89,89);
$menu-link: #FFF8E2;
$submenu-link: #ddd;

.body{
  font-family: 'Roboto-regular';
}

.valign {
  margin-top: 20%;
  text-align: center;
}

#page-wrapper {
  margin-top: 90px !important;
  background-color: red;
  }

  /* CodeMirror
* ============================================================ */

.CodeMirror {
  font-size: 1.15em;
}
  

/*  COULEUR page-break-inside: */

.row-fond{
  background-color: #FFFDF3;
}
