<div id="wrapper">
    <!-- Navigation -->
    <nav class="navbar navbar-fixed-top" role="navigation">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="fa fa-bars navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                <!-- <span class="sr-only">Toggle navigation</span>
                <span class="fa fa-toggle-on"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> -->
            </button>
            <a class="navbar-brand " href="#/">
                <img height="80px" src="assets/img/logo-fablab.png" alt="Logo Fablab">
            </a>

            <div class="div-search">
                <div search id="search"></div>
            </div>

        </div>
        <!-- Top Menu Items -->
        <ul class="nav navbar-right top-nav nav-user">     
            <li class="dropdown test">
                <a href="" class="dropdown-toggle test" data-toggle="dropdown"><i class="fa fa-2x fa-user"></i></a>
                <ul class="dropdown-menu">
                    <li><a href="#/account"><i class="fa fa-fw fa-user"></i> Mon compte </a></li>
                    <li><a href="https://gitlab.utc.fr/smarchie/fablab-webapp/issues/new"><i class="fa fa-fw fa-bug"></i> Signaler un bug</a></li>
                    <li class="divider"></li>
                    <li><a href="/#/logout"><i class="fa fa-fw fa-power-off"></i>Déconnexion</a></li>
                </ul>
            </li>
        </ul>

        <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
        <div class="collapse navbar-collapse navbar-ex1-collapse">
            <ul class="nav navbar-nav side-nav">
                <li>
                    <a href="#/" class="menuelmt"><i class="fa fa-home img"></i> Tableau de bord</a>
                </li>
                
                <li ng-show="$root.can('list-product')">
                        <a href="#/products" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/produit.png"></i> Produits</a>
                </li>
                <li ng-show="$root.can('list-tool')">
                    <a href="#/tools" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/tool.png"></i> Outils</a>
                </li>
                <li ng-show="$root.can('list-expendable')">
                    <a href="#/expendables" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/expendable.png"></i> Consommables</a>
                </li>
                <!-- <li ng-show="$root.can('list-room')">
                    <a href="#/rooms" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/expendable.png"></i> Salles</a>
                </li> -->
                <li ng-show="$root.can('list-engine')">
                    <!-- /.nav-second-level -->
                    <a role="button" ng-init="isCollapsed1 = true" ng-click="isCollapsed1 = !isCollapsed1; isCollapsed2 = true; isCollapsed3 = true; isCollapsed4 = true; isCollapsed5 = true" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/machine.png"></i> Machines<span class="fa arrow"></span></a>
                    <ul uib-collapse="isCollapsed1" class="nav nav-second-level" ng-class="{collapse1: isCollapsed1}">
                        <li ng-show="$root.can('list-engine')">
                            <a href="#/engines" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/barre.png"></i> Liste des machines</a>
                        </li>
                        <!-- DROIT POUR LISTER MAINTENANCE A AJOUTER -->
                       <!--  <li ng-show="$root.can('list-maintenance')">
                            <a href="" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/maintenance.png"></i> Maintenance</a>
                        </li> -->

                        <!-- <li ng-show="$root.can('list-engine-parts')">  -->
                        <!-- <li>
                            <a href="#/engineparts" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/maintenance.png"></i> Liste des pièces</a>
                        </li> -->

                    </ul>
                </li>

                <li>
                        <a role="button" ng-init="isCollapsed2 = true" ng-click="isCollapsed2 = !isCollapsed2; isCollapsed1 = true; isCollapsed3 = true; isCollapsed4 = true; isCollapsed5 = true" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/commandes.png"></i> Commandes<span class="fa arrow"></span></a>
                        <ul uib-collapse="isCollapsed2" class="nav nav-second-level" ng-class="{collapse2: isCollapsed2}">
                            <li ng-show="$root.can('order-CAS-member')">
                                <a href="#/mypurchases" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/commande_en_cours.png"></i> Mes commandes</a>
                            </li>
                            <li ng-show="$root.can('order-for-someone')">
                                <a href="#/purchases" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/commande_en_cours.png"></i> En cours</a>
                            </li>
                            <li ng-show="$root.can('order-CAS-member')">
                                <a href="#/purchases/create" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/passer_commande.png"></i> Passer commande</a>
                            </li>
                            <li ng-show="$root.can('order-for-someone')">
                                <a href="#/purchases/history" class="menuelmt-second"><i><img class="nav-icone" height="16px" src="assets/img/historique.png"></i> Historique</a>
                            </li>
                        </ul>
                    </li>

                                        <!-- A DECOMMENTER APRES DEVELOPPEMENT ONGLET STATISTIQUES ET TRESORERIE -->
<!-- 
                    <li ng-show="$root.can('super-admin')">
                        <a href="" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/stat.png"></i> Statistiques</a>
                    </li>


                    <li ng-show="$root.can('super-admin')">

                        <a role="button" ng-init="isCollapsed3 = true" ng-click="isCollapsed3 = !isCollapsed3; isCollapsed1 = true; isCollapsed2 = true; isCollapsed4 = true" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/treso.png"></i> Trésorerie<span class="fa arrow"></span></a>
                        <ul uib-collapse="isCollapsed3" class="nav nav-second-level" ng-class="{collapse3: isCollapsed3}">
                            <li>
                                <a href="#" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/bilan_financier.png"></i>Bilan financier</a>
                            </li>
                            <li>
                                <a href="#" class="menuelmt-second"><i><img class="nav-icone" width="17px" src="assets/img/factures_recues.png"></i>Factures reçues</a>
                            </li>
                            <li>
                                <a href="#" class="menuelmt-second"><i><img class="nav-icone" width="19px" src="assets/img/cheques.png"></i>Chèques</a>
                            </li>
                            <li>
                                <a href="#" class="menuelmt-second"><i><img class="nav-icone" height="16px" src="assets/img/prix_machines.png"></i>Prix machines</a>
                            </li>
                        </ul>
                    </li> -->

                    <li ng-show="$root.can('super-admin')">
                        <a role="button" ng-init="isCollapsed4 = true" ng-click="isCollapsed4 = !isCollapsed4; isCollapsed1 = true; isCollapsed2 = true; isCollapsed3 = true; isCollapsed5 = true" class="menuelmt"><i class="fa fa-university img"></i> Administration<span class="fa arrow"></span></a>
                        <ul uib-collapse="isCollapsed4" class="nav nav-second-level" ng-class="{collapse4: isCollapsed4}">
                            <li ng-show="$root.can('edit-administrative')">
                                <a href="#/admin/settings" class="menuelmt-second"><img class="nav-icone" width="17px" src="assets/img/setting.png">Général</a>
                            </li>
                            <li ng-show="$root.can('list-user')">
                                <a href="#/admin/users" class="menuelmt-second"><img class="nav-icone" width="17px" src="assets/img/user_config.png">Utilisateurs</a>
                            </li>
                            <li ng-show="$root.can('edit-role')">
                                <a href="#/admin/roles" class="menuelmt-second"><img class="nav-icone" height="18px" src="assets/img/shield.png"></i>Rôles</a>
                            </li>
                            <li ng-show="$root.can('edit-price')">
                                <a href="#/admin/scripts" class="menuelmt-second"><img class="nav-icone" width="17px" src="assets/img/money.png"></i>Prix</a>
                            </li>
                            <li ng-show="$root.can('edit-service')">
                                <a href="#/admin/services" class="menuelmt-second"><img class="nav-icone" width="17px" src="assets/img/handshake.png"></i>Services</a>
                            </li>

                            <li ng-show="$root.can('edit-address')">
                                <a href="#/admin/addresses" class="menuelmt-second"><img class="nav-icone" height="19px" src="assets/img/address.png">Adresses</a>
                            </li>
                            <li ng-show="$root.can('edit-entity')">
                                <a href="#/admin/entities" class="menuelmt-second"><img class="nav-icone" height="17px" src="assets/img/entity.png">Entités</a>
                            </li>
                        </ul>

                    </li>
                    <li ng-show="$root.can('list-data')">
                        <a href="#/data" class="menuelmt"><i class="fa fa-exchange" aria-hidden="true"><img class="nav-icone"></i> Import / Export</a>
                    </li>

                    <li class="nav-user-link">
                        <!-- /.nav-second-level -->
                        <a role="button" ng-init="isCollapsed5 = true" ng-click="isCollapsed5 = !isCollapsed5; isCollapsed1 = true; isCollapsed2 = true; isCollapsed3 = true; isCollapsed4 = true" class="menuelmt"><i style="margin-right: 17px;"class="fa fa-fw fa-user"></i> Mon compte <span class="fa arrow"></span></a>
                        <ul uib-collapse="isCollapsed5" class="nav nav-second-level" ng-class="{collapse5: isCollapsed5}">
                            <li>
                                <a href="#/account" class="menuelmt-second"><i class="fa fa-fw fa-user nav-sublink"></i> Mon profil</a>
                            </li>
                            <li>
                                <a href="https://gitlab.utc.fr/smarchie/fablab-webapp/issues/new" class="menuelmt-second"><i class="fa fa-fw fa-bug nav-sublink"></i> Signaler un bug</a>
                            </li>
                            <li>
                                <a href="/#/logout" class="menuelmt-second"><i class="fa fa-fw fa-power-off nav-sublink"></i> Déconnexion</a>
                            </li>

                        </ul>
                    </li>

                    <li ng-show="$root.can('read-doc')">
                        <a href="#/help" class="menuelmt"><i><img class="nav-icone" width="17px" src="assets/img/help.png"></i> Aide</a>
                    </li>
            </ul>

        </div>
        <!-- /.navbar-collapse -->
    </nav>
    <!-- /#page-wrapper -->

    <div id="page-wrapper" ng-transclude style="height: 100vh">
    </div>
    <!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->