<div class="modal-print">
  <div class="modal-header">
    <h2 ng-if="type=='create'" class="pull-left">
      <i class="fa fa-plus fa-3x img-edit" aria-hidden="true"></i>
      Ajouter une adresse
    </h2>
    <h2 ng-if="type=='edit'" class="pull-left">
      <i class="fa fa-pencil-square-o img-edit" aria-hidden="true"></i>
      Modifier l'adresse
    </h2>
    <a confirm="Êtes-vous sûr de supprimer ce produit?" class="pull-right btn-delete" role="button" ng-if="can('delete-address') && type=='edit'" ng-click="deleteModal()">
        <i class="fa fa-trash-o" aria-hidden="true"></i>
    </a>
  </div>
  <div class="modal-body">

    <show-errors errors-data="errors"></show-errors>
    <form class="form-horizontal">
        <div class="form-group">
          <label class="col-sm-3 control-label">Nom Prénom ou Institution</label>
          <div class="col-sm-9">
            <input ng-model="address.name" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label for="comment" class="col-sm-3 control-label">Adresse</label>
          <div class="col-sm-9">
            <textarea ng-model="address.address" class="form-control" rows="3"></textarea>
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Ville</label>
          <div class="col-sm-9">
            <input ng-model="address.city" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Code postal</label>
          <div class="col-sm-9">
            <input ng-model="address.cp" type="text" class="form-control">
          </div>
        </div>

        <div class="form-group">
          <label class="col-sm-3 control-label">Pays</label>
          <div class="col-sm-9">
            <input ng-model="address.country" type="text" class="form-control">
          </div>
        </div>
    </form>

  </div>
  <div class="modal-footer">
    <span ng-if="saving"><i class="fa fa-spinner fa-pulse fa-fw"></i>Enregistrement...</span>
    <button class="btn btn-grey" ng-click="cancel()">Annuler</button>
    <button class="btn btn-yellow" ng-click="save()"
            ng-disabled="saving">
            Enregistrer
    </button>
  </div>
</div>