<in-wrapper>
<div ng-controller="accountCtrl" class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Mon compte</h1>
    </div>

    <div ng-show="user" class="row">
      <div class="col-lg-12">
        <show-user user="user"></show-user>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <p class="text-right">
          <a href="#/logout" role="button" class="btn btn-primary">Déconnexion</a>
        </p>
      </div>
    </div>

</div>
</in-wrapper>
