<div class="modal-print">
<div class="modal-header">
	<h2 ng-if="type=='create'" class="pull-left">
			<i class="fa fa-plus fa-3x img-edit" aria-hidden="true"></i>
			Ajouter utlisateur
	  </h2>
	  <h2 ng-if="type=='edit'" class="pull-left">
			<i class="fa fa-pencil-square-o img-edit" aria-hidden="true"></i>
			Modifier l'utilsiateur
	  </h2>
	  <a confirm="Êtes-vous sûr de supprimer ce rôle?" class="pull-right btn-delete" role="button" ng-if="can('delete-role') && type=='edit'" ng-click="deleteModal()">
			<i class="fa fa-trash-o" aria-hidden="true"></i>
	  </a>
</div>
<div class="modal-body">
 <show-errors errors-data="errors"></show-errors>

 <form class="form-horizontal">
	<div ng-if="type=='create'" class="form-group has-feedback">
	  <div class="col-md-12">
		 <input ng-model="loginSearch.string" ng-change="autocomplete()" type="text" placeholder="Rechercher un login" class="form-control">
		 <i ng-show="loading" class="glyphicon glyphicon-refresh form-control-feedback"></i>
		 <div class="list-group" style="position: absolute; width: 95%; z-index: 100;">
			<button class="list-group-item" ng-click="selectUser(user.login)" ng-repeat="user in suggestedUsers"><b>{{ user.prenom + " " + user.nom }}</b> <i>({{user.login}})</i></button>
		 </div>
	  </div>
	</div>
	<div ng-show="loading" class="text-center"><i class="fa fa-spinner fa-2x fa-pulse fa-fw"></i></div>
	<div ng-show="user && !loading" class="user">
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Login</label>
		 <div class="col-sm-9">
			<input disabled ng-model="user.login" type="text" class="form-control">
		 </div>
	  </div>
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Prénom</label>
		 <div class="col-sm-9">
			<input disabled ng-model="user.firstName" type="text" class="form-control">
		 </div>
	  </div>
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Nom</label>
		 <div class="col-sm-9">
			<input disabled ng-model="user.lastName" type="text" class="form-control">
		 </div>
	  </div>
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Email</label>
		 <div class="col-sm-9">
			<input disabled ng-model="user.email" type="text" class="form-control">
		 </div>
	  </div>
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Statut</label>
		 <div class="col-sm-9">
			<input disabled ng-model="user.status" type="text" class="form-control">
		 </div>
	  </div>
	  <div class="form-group" ng-if="can('list-role')">
		 <label class="col-sm-3 control-label">Role</label>
		 <div class="col-sm-9">
			<select class="form-control" ng-options="role.id as role.name for role in roles" ng-model="user.role_id"></select>
		 </div>
	  </div>
	  <div class="form-group">
		 <label class="col-sm-3 control-label">Entité <i data-toggle="tooltip" class="fa fa-question-circle" aria-hidden="true" data-placement="top" title="Les factures créer par cet utilisateur seront éditées avec cette entité."></i></label>
		 <div class="col-sm-9">
			<select class="form-control" ng-options="entity.id as entity.name for entity in entities" ng-model="user.entity_id"></select>
		 </div>
	  </div>
		 <div class="form-group">
			<label class="col-sm-3 control-label">Charte signée ?</label>
			<div class="col-sm-9">
			  <label class="radio-inline">
				 <input type="radio" name="terms" ng-model="user.terms" data-ng-value="true">Oui
			  </label>
			  <label class="radio-inline">
				 <input type="radio" name="terms" ng-model="user.terms" data-ng-value="false">Non
			  </label>
			</div>
		 </div>
	</div>
 </form>
</div>
<div class="modal-footer">
 <span ng-if="saving"><i class="fa fa-spinner fa-pulse fa-fw"></i>Enregistrement...</span>
 <button class="btn btn-grey" ng-click="cancel()">Annuler</button>
 <button class="btn btn-yellow" ng-click="save()" ng-disabled="saving || !user">Enregistrer</button>
</div>
</div>
